<?xml version="1.0" encoding="utf-8"?>
<Media Key="df8c7d50-24af-4019-a3ad-7024653afee6" Alias="aaron-lambert.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/aaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:34</CreateDate>
    <NodeName Default="aaron-lambert.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulac2pnu/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>