<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d5ba620-506f-4708-b209-dcdbcd22f22d" Alias="aj-carter.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/ajCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:33</CreateDate>
    <NodeName Default="aj-carter.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0inptp1u/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>