<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fa0011f-4628-40aa-8aad-be198edd4bac" Alias="bonds-and-commodities.svg" Level="2">
  <Info>
    <Parent Key="0f009fb7-6b74-4cfe-9bc1-ecef90162426">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/bondsAndCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T18:28:20</CreateDate>
    <NodeName Default="bonds-and-commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3w4afpjt/bonds-and-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>