<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f4545dd-0b0c-45bd-99a6-29f60fa41972" Alias="brandon-kerr.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/brandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:33</CreateDate>
    <NodeName Default="brandon-kerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f52optix/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>