<?xml version="1.0" encoding="utf-8"?>
<Media Key="31fba5b4-a7b6-4f6d-bbd7-5e1541e6e8bb" Alias="brandon-newton.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/brandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:37:39</CreateDate>
    <NodeName Default="brandon-newton.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iymftu3n/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>