<?xml version="1.0" encoding="utf-8"?>
<Media Key="170b7af3-b808-4546-a829-4edfd80605e6" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T17:35:23</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>