<?xml version="1.0" encoding="utf-8"?>
<Media Key="8026542a-cedd-45c8-b8e4-cdca36d2d793" Alias="Components" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Components</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T16:33:35</CreateDate>
    <NodeName Default="Components" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>