<?xml version="1.0" encoding="utf-8"?>
<Media Key="564428a3-4e70-42cf-9967-c246d2a58beb" Alias="financial-advisors.svg" Level="2">
  <Info>
    <Parent Key="0f009fb7-6b74-4cfe-9bc1-ecef90162426">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/financialAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T18:28:20</CreateDate>
    <NodeName Default="financial-advisors.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kgkpnndl/financial-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>