<?xml version="1.0" encoding="utf-8"?>
<Media Key="0db5ff52-a514-4e69-9f82-239fdb998c4c" Alias="fossil-group-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/fossilGroupBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="fossil-group-brand.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ubbbp1yp/fossil-group-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>