<?xml version="1.0" encoding="utf-8"?>
<Media Key="54e71464-b9d8-486d-814e-f5bbdb5566fb" Alias="freedombird-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/freedombirdBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="freedombird-brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0uflnwd/freedombird-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>