<?xml version="1.0" encoding="utf-8"?>
<Media Key="90b540c3-86de-482b-b1f9-fc2f7027f2e7" Alias="globe.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:56:02</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gh4bo2wf/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>