<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebeda3aa-24b2-4154-a73b-d2b5fbb53061" Alias="globe-left.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/globeLeftsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T16:33:43</CreateDate>
    <NodeName Default="globe-left.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lape4cnj/globe-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>