<?xml version="1.0" encoding="utf-8"?>
<Media Key="d558ed2d-ad33-489e-981d-f9888f257e2b" Alias="globe-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/globeBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="globe-brand.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/13ipunzi/globe-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>