<?xml version="1.0" encoding="utf-8"?>
<Media Key="9091620b-4435-4842-98d2-753237b6e4cc" Alias="graphic-background.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/graphicBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:14:08</CreateDate>
    <NodeName Default="graphic-background.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5hpdg2ro/graphic-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>