<?xml version="1.0" encoding="utf-8"?>
<Media Key="31d0e3db-7128-4a70-ae14-fedf4375cdf7" Alias="identity-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/identityBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="identity-brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ffphfuzt/identity-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>