<?xml version="1.0" encoding="utf-8"?>
<Media Key="96c4b2d9-8a0a-420f-976a-89d24c38748a" Alias="kevin-gardner.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:33</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fmhhm3ar/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>