<?xml version="1.0" encoding="utf-8"?>
<Media Key="26cc1d9d-a1b1-494f-a2bc-48530dd18809" Alias="kevin-gardner-full.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/kevinGardnerFullsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T19:02:23</CreateDate>
    <NodeName Default="kevin-gardner-full.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n4qg3rfk/kevin-gardner-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>