<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c35edf8-baa1-41ff-beac-ae5520269838" Alias="logo.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T16:25:07</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bjijo5v0/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>