<?xml version="1.0" encoding="utf-8"?>
<Media Key="733f125a-6f71-4078-9f61-af8f0e167ab3" Alias="map.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T16:58:38</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vcxj1elk/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>