<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b406e3a-05b5-4321-b4d5-de3840df4b88" Alias="miranda-dayton.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/mirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:33</CreateDate>
    <NodeName Default="miranda-dayton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdjpfcno/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>