<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb36f3c9-15aa-496b-a9ff-41232ed68f9c" Alias="natural-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/naturalBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="natural-brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hnhjicnr/natural-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>