<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae32b02-e9ac-4346-9b0e-6d58148e8676" Alias="people.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/peoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T16:56:01</CreateDate>
    <NodeName Default="people.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4clecsfx/people.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>