<?xml version="1.0" encoding="utf-8"?>
<Media Key="c48c94cf-c5e8-43dd-bc89-f9017c80b73b" Alias="person.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/personsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:14:08</CreateDate>
    <NodeName Default="person.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/huud2jxt/person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>