<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c6b1c01-f153-4900-82c9-e431ff9bd9de" Alias="risk-management.svg" Level="2">
  <Info>
    <Parent Key="0f009fb7-6b74-4cfe-9bc1-ecef90162426">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T18:28:16</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4oqntdsi/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>