<?xml version="1.0" encoding="utf-8"?>
<Media Key="53d0aacd-9e4d-4a85-891e-c02edf6b882d" Alias="simpleaf-brand.svg" Level="2">
  <Info>
    <Parent Key="170b7af3-b808-4546-a829-4edfd80605e6">Brands</Parent>
    <Path>/Brands/simpleafBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T17:37:38</CreateDate>
    <NodeName Default="simpleaf-brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2lhfmkw/simpleaf-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>