<?xml version="1.0" encoding="utf-8"?>
<Media Key="234a05ee-4d2e-478c-9594-599dc5750b66" Alias="statistic-advisors.svg" Level="2">
  <Info>
    <Parent Key="0f009fb7-6b74-4cfe-9bc1-ecef90162426">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/statisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T18:28:20</CreateDate>
    <NodeName Default="statistic-advisors.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ds2orqjv/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>