<?xml version="1.0" encoding="utf-8"?>
<Media Key="731ba14c-53a8-45ad-a427-46f74e345745" Alias="success-story.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/successStorysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T15:53:04</CreateDate>
    <NodeName Default="success-story.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xyoltent/success-story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>