<?xml version="1.0" encoding="utf-8"?>
<Media Key="5350ec94-4984-4970-a496-380ef86c8735" Alias="tax-and-trusts.svg" Level="2">
  <Info>
    <Parent Key="0f009fb7-6b74-4cfe-9bc1-ecef90162426">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/taxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T18:28:20</CreateDate>
    <NodeName Default="tax-and-trusts.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mzipfmm5/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>