<?xml version="1.0" encoding="utf-8"?>
<Media Key="c58adddf-776c-4921-8a8f-29040c6785c7" Alias="tina-fox-full.svg" Level="2">
  <Info>
    <Parent Key="8026542a-cedd-45c8-b8e4-cdca36d2d793">Components</Parent>
    <Path>/Components/tinaFoxFullsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T18:43:54</CreateDate>
    <NodeName Default="tina-fox-full.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fvqcqj1x/tina-fox-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>