<?xml version="1.0" encoding="utf-8"?>
<Media Key="615eb4f0-a3f0-4583-99f3-ece190f090a3" Alias="tina-fox.svg" Level="2">
  <Info>
    <Parent Key="7848e263-debc-447c-a53d-a127469c985f">Team Members</Parent>
    <Path>/TeamMembers/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T19:47:33</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aiepza5l/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>