<?xml version="1.0" encoding="utf-8"?>
<Content Key="720dda4b-a9c2-419c-9e15-aee8752fbe45" Alias="2025-11-13 19:38 - eric.blohm@live.se" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ericblohmLivese</Path>
    <Trashed Parent="90959419-c270-4035-aba8-9fb95d668d73">true</Trashed>
    <ContentType>helpRequest</ContentType>
    <CreateDate>2025-11-13T19:38:55</CreateDate>
    <NodeName Default="2025-11-13 19:38 - eric.blohm@live.se" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <helpRequestEmail>
      <Value><![CDATA[eric.blohm@live.se]]></Value>
    </helpRequestEmail>
  </Properties>
</Content>