<?xml version="1.0" encoding="utf-8"?>
<Content Key="58efa6b6-74c5-4ff9-ad86-d229dd0d6c79" Alias="2025-11-13 19:37 - Eric Blohm" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EricBlohm</Path>
    <Trashed Parent="9461ab7d-bd2e-49a1-b0a0-533dbdc163f0">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-13T19:37:30</CreateDate>
    <NodeName Default="2025-11-13 19:37 - Eric Blohm" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[eric.blohm@live.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Eric Blohm]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761114747]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>