<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8d77a2c-3e4b-49d7-b1fe-d652d8b9b228" Alias="2025-11-13 19:39 - Eric Blohm" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EricBlohm</Path>
    <Trashed Parent="25794b33-5c3d-42d3-9f80-90f7afa72aca">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-13T19:39:15</CreateDate>
    <NodeName Default="2025-11-13 19:39 - Eric Blohm" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[eric.blohm@live.se]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Eric Blohm]]></Value>
    </questionRequestName>
    <questionRequestText>
      <Value><![CDATA[Hello]]></Value>
    </questionRequestText>
  </Properties>
</Content>