<?xml version="1.0" encoding="utf-8"?>
<Content Key="9461ab7d-bd2e-49a1-b0a0-533dbdc163f0" Alias="Callback Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CallbackSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackSubmissions</ContentType>
    <CreateDate>2025-11-11T16:58:45</CreateDate>
    <NodeName Default="Callback Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>