<?xml version="1.0" encoding="utf-8"?>
<Content Key="5be4981f-b0dd-4e45-bb55-1396b091f946" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ae453aac-6677-4213-8f97-77ec899164ee">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T19:28:12</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f621efce-8448-460f-bcc8-b6a6e5a03ee1">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e8db1631-0296-444b-a260-fc636a17bb2d",
      "key": "2535db36-d251-4079-b3ef-21908a7c2520",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactBackgroundGraphic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9927eb12-5f92-43f7-a223-1da941e576b5",
              "mediaKey": "9091620b-4435-4842-98d2-753237b6e4cc",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactBackgroundPerson",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c69452e9-5f99-4e55-b18e-db396bed112a",
              "mediaKey": "c48c94cf-c5e8-43dd-bc89-f9017c80b73b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2197e7f4-d80d-4123-9f38-7ed7aedeb84d",
      "key": "4ed093c7-60cf-4516-86b5-d1770668f44b",
      "udi": null,
      "values": [
        {
          "alias": "brandImages",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6079416f-e290-4c23-b039-8cd633e54b19",
              "mediaKey": "54e71464-b9d8-486d-814e-f5bbdb5566fb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "a3944f95-2670-4f30-8779-4ff4147e5032",
              "mediaKey": "31d0e3db-7128-4a70-ae14-fedf4375cdf7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "624d6a8b-5aa1-4f1f-995f-7be312be24dc",
              "mediaKey": "eb36f3c9-15aa-496b-a9ff-41232ed68f9c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "c15368f6-ea4d-48d3-a080-2df13745fe1d",
              "mediaKey": "53d0aacd-9e4d-4a85-891e-c02edf6b882d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "913c4259-96bc-4faa-9644-d972a9b48eb5",
              "mediaKey": "d558ed2d-ad33-489e-981d-f9888f257e2b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "491598bf-8915-494e-bee8-83da58203f11",
              "mediaKey": "0db5ff52-a514-4e69-9f82-239fdb998c4c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ccb87f15-12de-4bb3-9731-4994fa1fb98a",
      "key": "84af801d-6865-4ea1-a64f-a1739e0d5dc5",
      "udi": null,
      "values": [
        {
          "alias": "mapCallbackBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fb5392b5-2af0-4032-ac24-0429c426d653",
              "mediaKey": "733f125a-6f71-4078-9f61-af8f0e167ab3",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mapCallbackFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "mapCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "83389840-e517-4f54-9b33-c590669a0630",
      "key": "fc44c8a7-e663-41d7-83db-7bf16b6fc98b",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "54c91257-6551-414b-a205-d0bf17293a5e",
      "key": "c8956750-4a8d-497f-a1bc-adbab8278225",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c52ff825-d8ac-4a32-a5d1-ea92586525c2",
      "key": "1903c32e-8062-4ac8-8cd6-8aa187a628bc",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2535db36-d251-4079-b3ef-21908a7c2520",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4ed093c7-60cf-4516-86b5-d1770668f44b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "84af801d-6865-4ea1-a64f-a1739e0d5dc5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2535db36-d251-4079-b3ef-21908a7c2520",
        "contentUdi": null,
        "settingsKey": "fc44c8a7-e663-41d7-83db-7bf16b6fc98b",
        "settingsUdi": null
      },
      {
        "contentKey": "84af801d-6865-4ea1-a64f-a1739e0d5dc5",
        "contentUdi": null,
        "settingsKey": "1903c32e-8062-4ac8-8cd6-8aa187a628bc",
        "settingsUdi": null
      },
      {
        "contentKey": "4ed093c7-60cf-4516-86b5-d1770668f44b",
        "contentUdi": null,
        "settingsKey": "c8956750-4a8d-497f-a1bc-adbab8278225",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>