<?xml version="1.0" encoding="utf-8"?>
<Content Key="90959419-c270-4035-aba8-9fb95d668d73" Alias="Help Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HelpSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>helpSubmissions</ContentType>
    <CreateDate>2025-11-11T16:59:45</CreateDate>
    <NodeName Default="Help Submissions" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>