<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae453aac-6677-4213-8f97-77ec899164ee" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-17T16:12:31</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f14ac24-2bdf-4c28-82ff-f4402d114589">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6678ae75-57c9-436d-8d56-3448af6ae157",
      "key": "7f091515-239f-49c8-b8a0-570f48fc2bc2",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/5be4981fb0dd4e45bb551396b091f946",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b727cb04-0193-462b-8b68-558603c91cb9",
              "mediaKey": "4506c141-6b34-4034-8ac5-64bf9e96435b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0c8fed4b-3310-4e5a-a974-87d408ba2ac5",
      "key": "b0dae92c-8c8e-4021-9bb0-3ee63222f71e",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ca5e60e8-8786-4732-bfc7-18894037c152",
      "key": "4b4b1d6a-1d1c-446c-a035-cb873670cf27",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackSignatureImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "14ffa55f-b9d4-4ca4-bdba-17466389b65f",
              "mediaKey": "5b34d20e-4210-41d3-a83b-f631c9f05b33",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutCallbackSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        },
        {
          "alias": "aboutCallbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutCallbackBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003EWe have 40 years experience\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-md font-light\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-normal\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-xs font-regular\u0022\u003E\u003Cspan class=\u0022text-normal\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutCallbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "aboutCallbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "31264298-f0d2-4374-8b41-d4f9d55ee56a",
      "key": "f6c45bfb-ad23-4e87-9224-68a421d09126",
      "udi": null,
      "values": [
        {
          "alias": "ourStoryBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-main\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan class=\u0022text-sub-secondary\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-sm font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-normal\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "ourStoryLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/b3abcf47e8cf4a61bffd832df594c1e7",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "ourStoryBackgroundImage1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8b3c8eb4-d771-44fc-8340-32eafb401155",
              "mediaKey": "90b540c3-86de-482b-b1f9-fc2f7027f2e7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "ourStoryBackgroundImage2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "128534ee-c805-4e3b-90b8-07c3e5419c49",
              "mediaKey": "aae32b02-e9ac-4346-9b0e-6d58148e8676",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "cc6d9ed4-da8b-4752-b137-67aadee99ccb",
      "key": "8398e0f7-d1dd-4747-9c6a-8891a85357eb",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-white\u0022\u003ESuccess story\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "858a8f53-c7d1-4669-8905-86871ec6de55",
              "mediaKey": "731ba14c-53a8-45ad-a427-46f74e345745",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStoryAmount1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "successStoryDetails1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been served"
        },
        {
          "alias": "successStoryAmount2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "successStoryDetails2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "successStoryAmount3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "successStoryDetails3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "successStoryBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7d746e3f-3f3f-48d7-9a92-52b116186849",
              "mediaKey": "048472c0-c0e8-4119-a0ad-def9665c6cd0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2197e7f4-d80d-4123-9f38-7ed7aedeb84d",
      "key": "2e4d0e7d-6625-4bfd-a070-f4d90c21ed7a",
      "udi": null,
      "values": [
        {
          "alias": "brandImages",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f0219511-a3eb-4205-b83c-82a6f4d4ef84",
              "mediaKey": "54e71464-b9d8-486d-814e-f5bbdb5566fb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "48ee8a50-da14-443b-a61f-c15b2488620e",
              "mediaKey": "31d0e3db-7128-4a70-ae14-fedf4375cdf7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "cbddf08b-fe18-494b-ac69-500590804013",
              "mediaKey": "eb36f3c9-15aa-496b-a9ff-41232ed68f9c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "c9852cb2-32c7-4bb6-b130-70e37d10a290",
              "mediaKey": "53d0aacd-9e4d-4a85-891e-c02edf6b882d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "73689289-adb3-4a03-ab71-e888bbef7957",
              "mediaKey": "d558ed2d-ad33-489e-981d-f9888f257e2b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "e7e317da-f5b7-404d-a1b5-b1266e6becd6",
              "mediaKey": "0db5ff52-a514-4e69-9f82-239fdb998c4c",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2dbad9ce-19be-461d-b924-3f7f1c311b57",
      "key": "b59f97f6-fe18-4f7a-ac72-1ca1f3eb623b",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Secondary",
            "value": "#f7f7f7"
          }
        },
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "f078ab53-4b83-46c5-9ee7-1dd1185dba71",
      "key": "47b6ee05-e7b8-47b1-b3ba-47432f9d3530",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax planning"
        }
      ]
    },
    {
      "contentTypeKey": "5c27ffed-9b50-46cd-aebe-a14e11e1c0b9",
      "key": "c8a08e69-c640-4526-9e95-6c985aadde8c",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c448ec59-52b3-492e-af2f-7c4b55db9d37",
      "key": "998d0947-7521-4244-ad64-c3c5e6d2c827",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Main",
            "value": "#4f5955"
          }
        }
      ]
    },
    {
      "contentTypeKey": "54c91257-6551-414b-a205-d0bf17293a5e",
      "key": "0f6f757c-0887-4c12-9b48-d39f9da9a690",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7f091515-239f-49c8-b8a0-570f48fc2bc2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b0dae92c-8c8e-4021-9bb0-3ee63222f71e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4b4b1d6a-1d1c-446c-a035-cb873670cf27",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f6c45bfb-ad23-4e87-9224-68a421d09126",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8398e0f7-d1dd-4747-9c6a-8891a85357eb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2e4d0e7d-6625-4bfd-a070-f4d90c21ed7a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7f091515-239f-49c8-b8a0-570f48fc2bc2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4b4b1d6a-1d1c-446c-a035-cb873670cf27",
        "contentUdi": null,
        "settingsKey": "47b6ee05-e7b8-47b1-b3ba-47432f9d3530",
        "settingsUdi": null
      },
      {
        "contentKey": "b0dae92c-8c8e-4021-9bb0-3ee63222f71e",
        "contentUdi": null,
        "settingsKey": "b59f97f6-fe18-4f7a-ac72-1ca1f3eb623b",
        "settingsUdi": null
      },
      {
        "contentKey": "f6c45bfb-ad23-4e87-9224-68a421d09126",
        "contentUdi": null,
        "settingsKey": "c8a08e69-c640-4526-9e95-6c985aadde8c",
        "settingsUdi": null
      },
      {
        "contentKey": "8398e0f7-d1dd-4747-9c6a-8891a85357eb",
        "contentUdi": null,
        "settingsKey": "998d0947-7521-4244-ad64-c3c5e6d2c827",
        "settingsUdi": null
      },
      {
        "contentKey": "2e4d0e7d-6625-4bfd-a070-f4d90c21ed7a",
        "contentUdi": null,
        "settingsKey": "0f6f757c-0887-4c12-9b48-d39f9da9a690",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>