<?xml version="1.0" encoding="utf-8"?>
<Content Key="25794b33-5c3d-42d3-9f80-90f7afa72aca" Alias="Question Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSubmissions</ContentType>
    <CreateDate>2025-11-11T19:42:03</CreateDate>
    <NodeName Default="Question Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>