<?xml version="1.0" encoding="utf-8"?>
<Content Key="52bb307f-8851-4650-bbae-d592274efe8b" Alias="Services" Level="2">
  <Info>
    <Parent Key="ae453aac-6677-4213-8f97-77ec899164ee">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-27T13:50:12</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7ff3a8fc-a495-4ba3-b496-c09e297529c9">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0c8fed4b-3310-4e5a-a974-87d408ba2ac5",
      "key": "c49329a3-fef3-4a97-b7f4-ca232e9dfaf0",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        }
      ]
    },
    {
      "contentTypeKey": "e8db1631-0296-444b-a260-fc636a17bb2d",
      "key": "9a22a1e8-a8b8-40dc-a400-cff354cd45ee",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactBackgroundGraphic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8ee8818e-b15c-4548-80fd-5b727f4e7bd9",
              "mediaKey": "9091620b-4435-4842-98d2-753237b6e4cc",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactBackgroundPerson",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2b7e0eaa-af8a-4289-aadc-f95ab8e7e522",
              "mediaKey": "c48c94cf-c5e8-43dd-bc89-f9017c80b73b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "2dbad9ce-19be-461d-b924-3f7f1c311b57",
      "key": "dbef8068-468a-449d-b9c1-11423cf2aa6d",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Primary",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "83389840-e517-4f54-9b33-c590669a0630",
      "key": "a02ddd29-f66c-4d8f-9853-eaba7835795c",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "Surface Secondary",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c49329a3-fef3-4a97-b7f4-ca232e9dfaf0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a22a1e8-a8b8-40dc-a400-cff354cd45ee",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c49329a3-fef3-4a97-b7f4-ca232e9dfaf0",
        "contentUdi": null,
        "settingsKey": "dbef8068-468a-449d-b9c1-11423cf2aa6d",
        "settingsUdi": null
      },
      {
        "contentKey": "9a22a1e8-a8b8-40dc-a400-cff354cd45ee",
        "contentUdi": null,
        "settingsKey": "a02ddd29-f66c-4d8f-9853-eaba7835795c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>