<?xml version="1.0" encoding="utf-8"?>
<Content Key="45af4c25-0450-415e-b6bf-355742ba8ef2" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T16:27:53</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4209ae5b-2306-41a3-9f98-80a50c255848",
      "key": "09abacb5-06a7-4db2-8158-00aff6bd26c9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "4209ae5b-2306-41a3-9f98-80a50c255848",
      "key": "c33bdfaf-a65d-4f12-9628-333c016465a6",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "4209ae5b-2306-41a3-9f98-80a50c255848",
      "key": "00a3fde4-8a25-4d12-8981-525c48395eef",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.twitter.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "09abacb5-06a7-4db2-8158-00aff6bd26c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c33bdfaf-a65d-4f12-9628-333c016465a6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00a3fde4-8a25-4d12-8981-525c48395eef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "09abacb5-06a7-4db2-8158-00aff6bd26c9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "00a3fde4-8a25-4d12-8981-525c48395eef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c33bdfaf-a65d-4f12-9628-333c016465a6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "b92aefa4-d790-4d00-88d8-20a106c56817",
    "mediaKey": "9c35edf8-baa1-41ff-beac-ae5520269838",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteLogoSmall>
      <Value><![CDATA[[
  {
    "key": "9df6f0e6-dfb3-45e1-81ab-73229edbe20f",
    "mediaKey": "1ad84ba1-cfad-4743-9be8-61455c9cdc67",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogoSmall>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>