<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ae64327-416b-41ae-82f9-2c3d52fb04b8" Alias="Tax &amp; Trusts" Level="3">
  <Info>
    <Parent Key="52bb307f-8851-4650-bbae-d592274efe8b">Services</Parent>
    <Path>/Onatrix/Services/TaxTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-31T18:30:30</CreateDate>
    <NodeName Default="Tax &amp; Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="01cf6756-826b-4094-b214-58c1c01e7402">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax & Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "90962376-0b4f-484a-b839-daf01257228e",
      "key": "cf3f4199-fd2d-4cdf-955a-334c7e082022",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0d2a2f1c-70f5-4cee-9cb7-7792d000f249",
              "mediaKey": "234a05ee-4d2e-478c-9594-599dc5750b66",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cf3f4199-fd2d-4cdf-955a-334c7e082022",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cf3f4199-fd2d-4cdf-955a-334c7e082022",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2d32d365-b59f-4115-a7f5-c15570c27a80",
    "mediaKey": "5350ec94-4984-4970-a496-380ef86c8735",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>