@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --size-tablet: 768px;
  --size-desktop: 1400px;

  --transition-speed: 200ms;

  --color-surface-primary: #ffffff;
  --color-surface-secondary: #f7f7f7;

  --color-main: #4f5955;
  --color-text: #535656;
  --color-note: #9c9ea6;
  --color-border: #eaeaea;
  --color-topbar-border: #606966;
  --color-sub-primary: #f2eddc;
  --color-sub-secondary: #d9c3a9;
}

/* Structure */

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-surface-primary);
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.modal {
  background-color: var(--color-surface);
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 6rem 6rem 1.8rem 6rem;
  overflow-y: auto;
  max-height: 95dvh;
}

.container {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 0 375px 0 375px;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.menu {
  z-index: 999;
}

.field-validation-error {
  font-size: var(--font-size-irregular);
  color: var(--color-red);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.text-rte-xl {
  font-size: 70px;
}

.text-rte-lg {
  font-size: 40px;
}

.text-rte-md {
  font-size: 20px;
}

.text-rte-sm {
  font-size: 16px;
}

.text-rte-xs {
  font-size: 14px;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.text-main {
  color: #4f5955;
}

.text-normal {
  color: #535656;
}

.text-note {
  color: #9c9ea6;
}

.text-sub-primary {
  color: #f2eddc;
}

.text-sub-secondary {
  color: #d9c3a9;
}

.rte {
  p {
    padding-bottom: .5rem;
  }

  p:last-child {
    padding: 0;
  }

  img {
    padding-bottom: .5rem;
  }
}

.rte-ul {
  padding-left: 1rem;
  margin: .5rem 0 .5rem 0;

  li {
    color: #535656;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: .5rem;

    &:last-child {
      margin: 0;
    }

    &::marker {
      color: #d9c3a9;
    }
  }
}

/* Sections */

.hero-section {
  position: relative;
  width: auto;
  height: 550px;
  padding-top: 1rem;
  
  .container {
    position: relative;
    width: 570px;
    margin-top: 5rem;

    h1 {
      color: var(--color-main);
      font-size: 70px;
      line-height: 5rem;
    }

    p {
      color: var(--color-main);
      margin: 1rem 0 1rem 0;
    }

    a {
      color: var(--color-sub-primary);
      background-color: var(--color-main);
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      border-radius: 3px;
      cursor: pointer;
      padding: 1rem 2.5rem;
    }
  }

  .flex {
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
  }

  img {
    position: absolute;
    top: 0;
  }
}

.service-section {
  padding: 4rem 0 4rem 0;
  background-color: var(--color-surface-secondary);

  .service-card {
    background-color: var(--color-surface-primary);
    border: var(--color-border) 1px solid;
    width: 370px;
    min-height: 350px;
    overflow: hidden;
  }

  .flex {
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 3rem;
  }

  h2 {
    color: var(--color-sub-secondary);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .rte h3 {
    color: var(--color-main);
    font-size: 40px;
    font-weight: bold;
  }

  h4 {
    color: var(--color-main);
    padding: 1.5rem;
    font-weight: 600;
  }

  p {
    color: var(--color-text);
    font-size: 14px;
    padding: 1.5rem;
  }

  a {
    color: var(--color-main);
    display: block;
    text-decoration: none;
  }
}

.team-section {
  background-color: var(--color-surface-primary);
  padding: 4rem 0 4rem 0;

  .member-card {
    background-color: var(--color-surface-primary);
    border: var(--color-border) 1px solid;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .wrapper {
    padding: 0 300px 0 300px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;

    .member-card-big {
      flex: 1 1 calc((100% - 2rem) / 3);
    }

    .member-card-small {
      flex: 1 1 calc((100% - 3rem) / 4);

      h4 {
        font-size: 16px;
      }

      p {
        font-size: 11px;
      }
    }
  }

  .flex {
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }

  h2 {
    color: var(--color-sub-secondary);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h4 {
    color: var(--color-main);
    padding: 1rem 0 0 1rem;
    font-weight: 600;
    font-size: 20px;
  }

  .rte h3 {
    color: var(--color-main);
    font-size: 40px;
    font-weight: bold;
  }

  p {
    color: var(--color-note);
    font-size: 13px;
    padding: 0 0 1rem 1rem;
  }
}

.service-detail-section {
  padding: 5rem 0 5rem 0;

  .grid {
    grid-template-columns: min-content min-content 1fr;
    align-items: start;
  }

  .divider {
    background-color: var(--color-border);
    display: block;
    width: 1px;
    height: 100%;
    margin: 0 3rem 0 3rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.contact-section {

  .flex {
    
  }

  .container {
    padding: 10rem 0 10rem 7rem;
    width: 500px;
  }

  .background-images {
    position: relative;
    align-self: end;
    width: 600px;
    height: 100%;

    .background-graphic {
      width: 572px;
      height: 540px;
    }

    .background-person {
      position: absolute;
      bottom: 0;
      width: 437px;
      height: 608px;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 3rem;
    padding-bottom: 2rem;
  }

  .fa-solid {
    color: var(--color-sub-secondary);
  }

  span {
    color: var(--color-main);
    font-size: 14px;
    font-weight: 600;
  }

  p {
    color: var(--color-text);
    font-size: 14px;
    margin: .25rem 0 2rem 25px;
  }

  .phone,
  .email {
    font-style: italic;
  }
}

/* Partials */

.topbar {
  background-color: var(--color-main);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    color: var(--color-surface-primary);
    font-size: 13px;
  }

  a {
    color: var(--color-surface-primary);
    font-size: 13px;
    text-decoration: none;
    padding: 1rem;
    border-left: var(--color-topbar-border) 1px solid;
    transition: color 300ms ease-in-out;

    &:hover {
      color: var(--color-sub-secondary);
    }
  }
  
  a:last-child {
    border-right: var(--color-topbar-border) 1px solid;
  }
}

header {
  position: relative;
  z-index: 999;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

  .flex {
    justify-content: space-between;
  }

  .logo {
    flex-shrink: 0;
  }

  .nav-list {
    list-style: none;
    gap: 75px;
    margin: 0;
    padding: 1.5rem;

    .nav-link {
      color: var(--color-main);
      font-weight: bold;
      text-decoration: none;
      transition: color 300ms ease-in-out;

      &:hover {
        color: var(--color-sub-secondary);
      }
    }
  }

  .current .nav-link {
    color: var(--color-sub-secondary);
    border-bottom: var(--color-sub-secondary) 2px solid;
  }

  .fa-magnifying-glass {
    color: var(--color-main);
    font-size: 18px;
    margin-left: 122.5px;
  }
}

.banner {
  background-color: var(--color-surface-secondary);
  padding: 4rem 0 4rem 0;
  position: relative;

  .flex {
    flex-direction: column;
    z-index: 999;
  }

  .breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;

    a {
      color: var(--color-main);
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      color: var(--color-text);
      font-size: 14px;
      padding: 0 .5rem 0 .5rem;
    }

    .current {
      color: var(--color-sub-secondary);
    }
  }

  h1 {
    color: var(--color-main);
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  img {
    position: absolute;
    width: auto;
    height: auto;

    &.globe-left {
      left: 0;
      bottom: 0;
    }

    &.globe-right {
      right: 0;
      top: 0;
    }
  }
}

/* Components */

.info-card {
  width: 300px;
  height: 330px;

  .flex {
    flex-direction: column;
    gap: 2rem;
  }

  h2 {
    color: var(--color-main);
    font-size: 22px;
    font-weight: 600;
    align-self: flex-start;
  }

  p {
    color: var(--color-text);
    font-size: 14px;
  }
}