@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.InfoCard)Model.Content;
}

<div class="info-card">
	<div class="flex">
		<h2>@content.InfoTitle</h2>
		<img src="@content.InfoImage.Url()" />
		<p>@content.InfoText</p>
	</div>
</div>