@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.ServiceSection)Model.Content;
  var settings = Model.Settings as ContentModels.ServiceSettings;

  var sectionColor = settings.BackgroundColor.Color;
  string sectionColorStyle = string.Empty;

  if (sectionColor != null)
  {
    sectionColorStyle = $"background-color: {@sectionColor} !important;";
  }
}

<section class="service-section" style="@sectionColorStyle">
  <div class="wrapper">

    <div class="flex">
      @if (settings.ShowLabel)
      {
        <h2>@content.ServiceLabel</h2>
      }
      <div class="rte">@Html.Raw(content.ServiceTitle)</div>
    </div>

    <div class="grid">
      <div class="service-card">
        <a href="">
          <h4>Risk Management</h4>
          <img src="~/media/mmtblymm/risk-management.svg" />
          <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
        </a>
      </div>
    </div>

  </div>
</section>