@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>
@{
	Layout = "MainLayout.cshtml";
}

<partial name="Partials/Layout/_Banner" model="(IPageBanner)Model" />

<h1>@Model.PageTitle</h1>