<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bec963d1-32ee-4c13-bea8-f384fca4f5b1" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6678ae75-57c9-436d-8d56-3448af6ae157"
    },
    {
      "contentElementTypeKey": "0c8fed4b-3310-4e5a-a974-87d408ba2ac5",
      "settingsElementTypeKey": "2dbad9ce-19be-461d-b924-3f7f1c311b57"
    },
    {
      "contentElementTypeKey": "2531fc01-2398-4cac-af3c-2beb3ce766e8"
    },
    {
      "contentElementTypeKey": "e8db1631-0296-444b-a260-fc636a17bb2d",
      "settingsElementTypeKey": "83389840-e517-4f54-9b33-c590669a0630"
    },
    {
      "contentElementTypeKey": "ca5e60e8-8786-4732-bfc7-18894037c152",
      "settingsElementTypeKey": "f078ab53-4b83-46c5-9ee7-1dd1185dba71"
    },
    {
      "contentElementTypeKey": "31264298-f0d2-4374-8b41-d4f9d55ee56a",
      "settingsElementTypeKey": "5c27ffed-9b50-46cd-aebe-a14e11e1c0b9"
    },
    {
      "contentElementTypeKey": "cc6d9ed4-da8b-4752-b137-67aadee99ccb",
      "settingsElementTypeKey": "c448ec59-52b3-492e-af2f-7c4b55db9d37"
    },
    {
      "contentElementTypeKey": "2197e7f4-d80d-4123-9f38-7ed7aedeb84d",
      "settingsElementTypeKey": "54c91257-6551-414b-a205-d0bf17293a5e"
    },
    {
      "contentElementTypeKey": "43b353ab-7c66-43a5-b6f3-3c4927c07a9a",
      "settingsElementTypeKey": "caaf20e6-f881-497b-8790-c73fdd403605"
    },
    {
      "contentElementTypeKey": "5d0cbb3f-db19-46ce-88a1-aea7cc65cae7",
      "settingsElementTypeKey": "0b296012-d42f-4992-bc49-f951a7516ded"
    },
    {
      "contentElementTypeKey": "ccb87f15-12de-4bb3-9731-4994fa1fb98a",
      "settingsElementTypeKey": "c52ff825-d8ac-4a32-a5d1-ea92586525c2"
    },
    {
      "contentElementTypeKey": "9abfecf2-8eb5-407e-856c-df9ef104ed89",
      "settingsElementTypeKey": "da4692bc-08e5-4f37-bf3e-6224b0baf441"
    }
  ]
}]]></Config>
</DataType>