<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5d2933a-53cb-44f3-8227-e1db8948da2b" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "90962376-0b4f-484a-b839-daf01257228e"
    },
    {
      "contentElementTypeKey": "18aa444c-9fa3-41c9-9920-7aaa804c185c"
    }
  ]
}]]></Config>
</DataType>