<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02fb8e41-64ad-4862-9718-d8c13910a2e9" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4209ae5b-2306-41a3-9f98-80a50c255848",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>