<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d09bf70-bdbd-4ede-969f-87977e678467" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "11acf0c4-99d5-487b-9ca6-85b72ddb5613",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>