<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54f31cde-9124-4352-81a2-937e3aa4258b" Alias="helpSubmissions" Level="2">
  <Info>
    <Name>Help Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="80205464-281b-4843-a443-8e0101929179" SortOrder="0">helpRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>