<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ed35920-9a14-44b0-a3e3-441c7538ffe9" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6f14ac24-2bdf-4c28-82ff-f4402d114589">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4a58524-ede4-40ab-8f01-a99fd423a9c5" SortOrder="0">contactPage</ContentType>
    <ContentType Key="ce802063-52d5-4ff6-b9fe-cd47dfeada47" SortOrder="1">servicePage</ContentType>
    <ContentType Key="6a76517d-c959-4f2b-9ec7-110662dbbedb" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cb5a3e2b-4e46-4d3e-9814-7a1d567376f1</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>bec963d1-32ee-4c13-bea8-f384fca4f5b1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>775cc5e8-9883-4563-85ab-bab74e16e813</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>