<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2544295-2b81-43c4-9c11-427061c0cedf" Alias="questionSubmissions" Level="2">
  <Info>
    <Name>Question Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="36061049-562d-4398-9c0a-b34fd0fc62ad" SortOrder="0">questionRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>